html{
    background-color: #f0e2cf;
}

body{
    font-family: 'Gloock', sans-serif;
    color: rgb(201, 51, 51);
    text-align: center;
}

h1{
    font-family: 'Sancreek', sans-serif;
    color: black;
}

input {
    font-family: 'Gloock', sans-serif;
    font-size: 16px;
    width: 200px;
    background-color: #f0e2cf;
}

button {
    font-family: 'Sancreek', sans-serif;
    font-size: 16px;
    color: rgb(240, 226, 215);
    background-color: #463932;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 10px;
}

